.footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.dot {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: var(--color-grey);
}
.footerInfo {
	display: flex;
	align-items: center;
	font-size: 8px;
	gap: 8px;
	color: var(--color-grey);
}
@media (max-width: 568px) {
	.footer {
		flex-direction: column;
	}
	.footerInfo {
		gap: 4px;
	}
}
