.task {
	display: flex;
	align-items: center;
	font-size: var(--font-size-normal);
	gap: 10px;
	color: var(--color-black);
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	font-weight: 700;
}

.taskBlocked {
	display: flex;
	align-items: center;
	font-size: var(--font-size-normal);
	gap: 10px;
	color: var(--color-grey);
	cursor: default;
	pointer-events: none;
}
